table > tbody > tr {
  height: 48px;
  background-color: unset !important;
}
table > thead > tr > th {
  font-weight: bold;
  font-family: Arial;
  font-size: 1.125rem;
}
.table td,
.table th {
  padding: 0.5em 0;
}
p.has-text-centered {
  text-align: unset !important;
}
p.px-2 {
  padding: unset !important;
}
