div {
  justify-content: space-between !important;
  flex-wrap: nowrap !important;
  margin: 0.5rem 0 0.5rem 0 !important;
}

div > button:first-child {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  background-color: white !important;
  margin-left: 0 !important;
}

div > :last-child {
  flex-basis: 100%;
  margin-right: 0 !important;
}
