/*
###################################################################################################
# General styling                                                                                 #
###################################################################################################
*/

/* Styles the HTML blocks with their content set to `<h2 data-content="title"></h2>` */
h2[data-content='title'] {
  font-weight: bold;
  font-family: Arial;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/*
###################################################################################################
# Path selector styling                                                                           #
###################################################################################################
*/

/* Styles the table for admins, so it doesn't flow past the button-list below.
This is supposed to be temporary and solved with pagination,
see https://gitlab.com/appsemble/apps/sittard-geleen/-/issues/37 */
div[data-path='pages.openchecks.blocks.3'] {
  padding-bottom: 4rem;
}

/* Styles the button-list beneath the table */
[data-path='pages.openchecks.blocks.4'] {
  width: 336px;
  height: 2.5rem;
  line-height: 1.625rem;
  font-size: 1rem !important;
  font-weight: bold;
  font-family: Arial;
  margin: 0 !important;
  margin-bottom: 0.25rem;
  left: 50% !important;
}

/* Styles the tabs on the "checksAtAddress" page */
main[data-path='pages.checksataddress'] > div.tabs > ul {
  justify-content: left !important;
  border-bottom: 0 !important;

  & > li > a {
    padding: 0.5rem 0;
    font-weight: bold;
    font-family: Arial;
    font-size: 1.5rem;
    color: unset;
    border-bottom-width: 4px !important;
  }
}

/* Styles the form fields on the "addPeople" sub-page. This removes the red coloring around the form
fields when an entry from the table above is being edited. */
form[data-path='pages.admincreateflow.steps.1.blocks.3'] {
  & div.field input.is-danger {
    border-color: #dbdbdb !important;
  }
  & div.field input.is-danger:focus {
    border-color: #0440ad !important;
    box-shadow: 0 0 0 0.125em rgba(4, 64, 173, 0.25) !important;
  }
}

/* Styles the form fields on the "editPeople" sub-page. This removes the red coloring around the form
fields when an entry from the table above is being edited. */
form[data-path='pages.admineditflow.steps.1.blocks.3'] {
  & div.field input.is-danger {
    border-color: #dbdbdb !important;
  }
  & div.field input.is-danger:focus {
    border-color: #0440ad !important;
    box-shadow: 0 0 0 0.125em rgba(4, 64, 173, 0.25) !important;
  }
}

/* Styles the second markdown block on the "check" sub-page */
[data-path='pages.residencecheck.steps.0.blocks.3'] {
  font-weight: bold;
  width: 100%;
}

/* Styles the form fields on the "present" sub-page */
form[data-path='pages.residencecheck.steps.4.blocks.1'] {
  & div.field.appsemble-static {
    font-weight: bold;
  }
  & span.appsemble-boolean > label {
    font-size: 0.75rem;
  }
  & span.appsemble-boolean > label > span {
    width: 6rem !important;
    height: 6rem !important;
  }
}

/* Styles the markdown blocks on the "present" and "followUpAction" sub-pages */
[data-path='pages.residencecheck.steps.4.blocks.0'],
[data-path='pages.residencecheck.steps.5.blocks.0'] {
  background-color: white;
  padding-left: 0 !important;
}
