.px-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div:last-child > button:first-child {
  color: var(--primary-color);
  border-color: var(--primary-color) !important;
  background-color: white !important;
}

div:last-child > button:first-child:hover {
  color: var(--primary-color);
}

div:last-child > button[type='submit'] {
  width: 100%;
}

span.help {
  min-height: 0;
}

fieldset.appsemble-fieldset {
  background-color: #dce9f2;
  padding: 0 0.7rem 1rem 0.7rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;

  & legend {
    margin-bottom: 1rem;
  }

  & span.help {
    min-height: 0;
  }
}

.flatpickr-calendar {
  left: unset !important;
  top: unset !important;
}
