main {
  margin: 0;
  padding-left: 0.8125rem;
  padding-right: 0.8125rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  flex-basis: 100%;
}

[data-block='@appsemble/markdown'] {
  font-family: Arial;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
}

div.modal-card {
  max-width: 480px;

  & > div.modal-card-head {
    background-color: white;
    border: 0;
  }
}
